{block content}

<h1 n:block=title>Sign In</h1>

<h3>Welcome to database of users. Please sign in to view stored data.</h3>

{control signInForm}

<p class="text-center">You do not have an account yet? <button><a n:href="up">Sign up!</a></button></p>