{block content}

<h1 n:block=title>Sign Up</h1>

<h3>Create a new account in order to view stored data.</h3>

{control signUpForm}

<p class="text-center">Do you already have an account? <button><a n:href="in">Log in!</a></button></p>