{block content}
<h1 n:block=title>List of users</h1>

<h3>Current user: {$currentUser} </h3>

{control simpleGrid}

<button><a n:href="Action:create">Add new user</a></button>
<button><a n:href="Sign:out">Sign out</a></button>
