* {
  outline: red 1px solid;
}

.btn {
  width: 100%;
}

.img-databases {
  width: 500px;
  height: auto;
}

a {
  color: white;
}

.col-action {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}

.table th {
  background-color: #000000;
  color: white;
}

.table tr {
  background-color: #ffffff;
  color: black;
}

.btn-addNewUser {
  margin: 0.5rem auto;
  display: block;
  padding: 0.5rem 3rem;
  border: none;
  width: 100%;
}
